html {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  margin: 0;
}

button {
  border: none;
  outline: none;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Thin.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-ThinItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-ExtraLight.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-ExtraLightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/Montserrat-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

/* * Main Body * */
body {
  font-family: 'Montserrat';
  font-weight: 500;
}

nav {
  width: 100%;
  height: 50px;
  background: #373737;
}

header {
  height: 100px;
  font-size: 32px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #999;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

main aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: -webkit-fill-available;
  padding: 10px 30px;
  border-right: 1px solid #999;
}

main a {
  padding: 10px 7px;
  margin: 15px 0;
  border-radius: 3px;
  font-size: 17px;
  color: white;
  background: #dd294e;
  text-align: center;
}

main .hero {
  width: -webkit-fill-available;
  font-size: 20px;
  padding: 20px;
}
