* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-height: 100vh;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 0;
}

button {
    border: none;
    outline: none;
    padding: 0;
}