@import "_reset.scss";
@import "_fonts.scss";
@import "_scrollbar.scss";

/* * Main Body * */

body {
    font-family: 'Montserrat';
    font-weight: 500;
}

nav {
    width: 100%;
    height: 50px;
    background: #373737;
}

header {
    height: 100px;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #999;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    aside {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: -webkit-fill-available;
        padding: 10px 30px;
        border-right: 1px solid #999;
    }

    a {
        padding: 10px 7px;
        margin: 15px 0;
        border-radius: 3px;
        font-size: 17px;
        color: white;
        background: #dd294e;
        text-align: center;
    }

    .hero {
        width: -webkit-fill-available;
        font-size: 20px;
        padding: 20px;
    }

}